//PRIMS
$des-red: rgb(206, 151, 151);
$soft-red: hsl(0, 93%, 68%);
//Neutrals
$dark-red: hsl(0, 6%, 24%);
$des-red-shadow: rgba(206, 151, 151, .7);
//Gradients
$first: linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));
$second: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));