@import './colors';

*,*::after, *::before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
}
body
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
}
.wrapper
{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.desktop
{
    display: none;
}
.pattern
{
    display: none;
}
.main
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: $first;
}
.image
{
    height: 200px;
    width: 100%;
    background-image: url('../img/hero-mobile.jpg');
    background-size: cover;
    background-position: center;
}

.info
{
    padding: 2em;
    order: 0;
    position: relative;
    &__heading
    {
        margin-top: .6em;
        font-size: 3.6rem;
        letter-spacing: 8px;
        color: $dark-red;
        text-transform: uppercase;
        text-align: center;
        .first
        {
            display: block;
            color: $des-red;
            font-weight: 300;
            letter-spacing: 10px;
        }
    }
    &__text
    {
        margin-top: 1em;
        color: $des-red;
        text-align: center;
        line-height: 24px;
    }
    &__newsletter
    {
        position: relative;
        height: 1px;
        margin-top: 1em;
        &-input
        {
            position: relative;
            top: 25%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 1em;
            margin-top: 1.5em;
            width: 100%;
            background: none;
            border: 1px solid $des-red-shadow;
            border-radius: 50px;
            &::placeholder
            {
                color: $des-red-shadow;
                padding-left: 0.5em;
                font-family: 'Josefin Sans';
            }
            &:focus
            {
                outline: none;
                border: 1px solid $dark-red
            }
        }
        &-submit
        {
            position: absolute;
            top: -2px;
            right: -1%;
            width: 20%;
            padding: .1em 0;
            border: 1px solid transparent;
            background-image: $second;
            border-radius: 50px;
            transition: background-image .8s;
            box-shadow: 0px 2px 5px $des-red;
            cursor: pointer;
            img
            {
                padding: .6em;
            }
        }
        .error-icon
        {
            display: none;
            position: absolute;
            top: 200%;
            right: 23%;
        }
        .return-text
        {
            position: relative;
            top: 50%;
            left: 12.5%;
        }
    }
}
.logo
{
    padding: 1.5em;
    .apparel
    {
        width: 35%;
    }
}
.error
{
    color: $soft-red;
}
@media (max-width: 320px)
{
    .main
    {
        height: 115vh;
    }
}

@import './desktop';