@import './colors';

*,*::after, *::before
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
}
body
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6rem;
    background-image: $first;
}
.wrapper
{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.info
{
    padding: 2em;
}


@import './desktop';